body{
    background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-position: center;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

h1{
    font-family: 'Bebas Neue', cursive;
}

p{
    font-size: 50px;
    color:black;
}
h3{
    color: black;
    font-family:'Oswald',sans-serif;
}

h2{
    color: black; 
    font-family:'Lobster',cursive;
}

h4{
    color:black; 
    font-family: 'Open Sans', sans-serif;
}

.green{
    color: green;
}

.red{
    color:red;
}


a{
    color: black;
}

textarea{
    width: 200px;
    height: 100px;
    max-width: 400px;
    max-height: 150px;
}
